<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDATBgtq4oT-Up2H7Lob0Gb7eT759FJJEk</string>
	<key>GCM_SENDER_ID</key>
	<string>344937998842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.caretutorsAssignmentTaskNoteApp</string>
	<key>PROJECT_ID</key>
	<string>caretutors-note-app</string>
	<key>STORAGE_BUCKET</key>
	<string>caretutors-note-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344937998842:ios:b8dfe2d4a6831c87d9dc43</string>
</dict>
</plist>